@model EPAM.DreamTour.DataAccess.Models.CreateTourModel

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>TourModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="District" class="control-label"></label>
                <input asp-for="District" class="form-control" />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimalPrice" class="control-label"></label>
                <input asp-for="MinimalPrice" class="form-control" />
                <span asp-validation-for="MinimalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaximumPrice" class="control-label"></label>
                <input asp-for="MaximumPrice" class="form-control" />
                <span asp-validation-for="MaximumPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaysCount" class="control-label"></label>
                <input asp-for="DaysCount" class="form-control" />
                <span asp-validation-for="DaysCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeginDate" class="control-label"></label>
                <input asp-for="BeginDate" class="form-control" />
                <span asp-validation-for="BeginDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
